h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
.pin-to-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav-bar {
  background: #1976D2;
  height: 56px;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
}
nav a {
  color: #fff;
  float: none;
  line-height: 56px;
  text-align: left;
  font-size: 14px;
  padding: 0 40px;    
  text-transform: uppercase;
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 400;
  text-decoration: none;
  margin: 0;
  display: inline-block;
  background-color: none;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #fff;
}
nav a:hover {
  background-color: #1E88E5;
}
nav a.active {
  color: #039be5;
}