<h2>Planets</h2>
<ul class="planets">
	<li *ngFor="let planet of planets" 
	[class.selected]="planet === selectedPlanet"
	(click)="onSelect(planet)">
		 <span class="badge">{{planet.id}}</span> 
		 <span>{{planet.name}}</span>
		 <button class="delete"
      		(click)="delete(planet); $event.stopPropagation()">x</button>
	</li>
</ul>
<div>
  <label>Planet name:</label> <input #planetName />
  <button (click)="add(planetName.value); planetName.value=''">
    Add
  </button>
</div>
<div *ngIf="selectedPlanet">
  <h2>
    Planet: {{selectedPlanet.name}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>